@charset "UTF-8";

*{
    min-height: 100%;
}

body {
    background-image: linear-gradient(30deg,#80FFEC, #C2FBEF);
}


h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    text-align: left;
    font-style: italic;
    color: #FF1B1C;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    font-style: italic;
    text-decoration: underline;
    color: #FF1B1C;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;

}