@charset "UTF-8";

/* Tablet */
@media screen and (min-width: 768px) {
    main {
        width: 700px;
        margin-top: .5rem;
        padding-bottom: 60rem;
    }

    header {
        background-color: gray;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #burguer {
        display: none;
    }

    nav {
        display: block;
        text-align: right;
        background-color: gray;
        padding: 10px;

    }

    nav ul li {
        display: inline-block;
    }

    nav ul li a {
        background-color: transparent;
        text-decoration: underline;

    }

    nav ul li a:hover {
        background-color: transparent;
        text-decoration: none;
        transition: .3s;

    }
 
}