@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --fonte-padrao: 'Anek Malayalam', sans-serif;
}

body {
    font-family: var(--fonte-padrao);
    font-weight: normal;
}

table {
    width: 40em;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
}

.cor {
    background-color: gray;
    color: white;
}

.cor, td {
    padding: 3px;


}

#lado {
    text-align: left;
    padding-left: .5em;
}

