@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --font-padrao: 'Dosis', sans-serif;
}

body {
    font-family: var(--font-padrao);
    font-weight: normal;
}

table {
    width: 40em;
    border-collapse: collapse;
    margin: auto;
}
caption {
    font-weight: 700;
    font-size: 1.6em;
    padding-bottom: .5em;
}

th, td {
    border: 1px solid black;
    padding: 9px;
}

th {
    background-color: rgb(177, 177, 177);
}

td {
    text-align: center;
    font-weight: 500;

}
